altair==4.1.0
geopy==2.3.0
ifcopenshell==0.7.0.230218
ifcopenshell_python==0.7.0
matplotlib==3.6.1
numpy==1.23.1
pandas==2.0.3
plotly==5.9.0
protobuf==4.24.1
Requests==2.31.0
setuptools==63.4.1
streamlit==1.24.1
